<!doctype html>
<html ng-app="webapp" lang="fr">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Inovbox Tech Demo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">

    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="WebAppCtrl as app" ng-cloak>

    <div class="loader-container" ng-show="loader">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>

    <div class="sleepmode" ng-hide="app.isAwake"></div>

    <!-- <div ng-show="app.status">
        <table class="table table-bordered table-hover">
            <tr>
                <td>Config KEY</td>
                <td>{{app.status.config.key}}</td>
            </tr>
            <tr>
                <td>Config PASSPHRASE</td>
                <td>{{app.status.config.passphrase}}</td>
            </tr>
            <tr>
                <td>Connected</td>
                <td>{{app.status.connected}}</td>
            </tr>
            <tr>
                <td>Authentication</td>
                <td>{{app.status.authenticated}}</td>
            </tr>
            <tr>
                <td>Logged</td>
                <td>{{app.status.logged}}</td>
            </tr>
        </table>
    </div>
    -->

    <div ng-view class="view"></div>

    <script src="libs/socket.io-client/dist/socket.io.min.js"></script>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="libs/angular-svg-round-progressbar/build/roundProgress.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>

</body>
</html>